<?xml version="1.0" encoding="utf-8"?>
<!--
Sample license text.
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Twickt_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Twickt_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <userSettings>
    <Twickt_Launcher.Properties.Settings>
      <setting name="JavaPath" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="RAM" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="download_threads" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="startingPage" serializeAs="String">
        <value>Home</value>
      </setting>
      <setting name="DebugMaxLines" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="RememberUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="disableHashCheck" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="firstTimeHowTo" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="sessiondata" serializeAs="String">
        <value />
      </setting>
      <setting name="justUpdated" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="bookmarks" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </Twickt_Launcher.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Twickt_Launcher.Properties.Settings>
      <setting name="version" serializeAs="String">
        <value>2.4</value>
      </setting>
    </Twickt_Launcher.Properties.Settings>
  </applicationSettings>
</configuration>
