.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  background: #000;
  opacity: 0;
  transition: all 0.3s;
  z-index: 100;
}

.container {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 26vh;
  width: 100%;
  transition: width 2s;

  &:hover > .overlay {
    opacity: 0.1;
    transition: all 0.3s;
  }

  .externalLink {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover .externalLink {
    opacity: 1;
    transition: all 0.3s;
  }

  .container__content {
    padding-top: 6vh;
  }
}
