@import '../../style/theme/index';

.main {
  margin: 15px 20px;
  font-size: 16px;
  b {
    font-weight: bold;
    color: white;
  }
  div {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
}

.buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  span {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
  }
}

.finished {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    color: $green;
  }
  div {
    font-size: 20px;
  }
  .restartBtn {
    margin-top: 80px;
  }
}
