@import '../../style/theme/index';

.header {
  position: relative;
  background: linear-gradient(rgba(44, 62, 80, 0.4), rgba(44, 62, 80, 0.4)),
    url('../../assets/images/dmanagerBG.jpg');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 100%;
}

.content {
  position: relative;
  height: calc(100vh - (47.6px + 180px));
  background: var(--secondary-color-1);
  padding: 5px;
}

.main {
  height: calc(100% - 47.6px - 20px);
  width: 100%;
  position: absolute;
  background: var(--secondary-color-1);
}

.headerButtons {
  width: 44vw;
  text-align: center;
  position: relative;
  top: 40px;
  a:hover {
    text-decoration: none;
  }
}

.browseModpacks {
  display: block;
  margin: 10px 10px 20px 10px;
  width: 214px;
}

.addVanilla {
  display: block;
  margin: 10px;
  width: 220px;
}

.NoServerCreated {
  text-align: center;
  margin-top: 25vh;
  font-size: 20px;
  font-weight: 600;
  color: $text-main-color;
}
