.header {
  position: relative;
  background: linear-gradient( rgba(44, 62, 80, 0.4), rgba(44, 62, 80, 0.4)), url("../../assets/images/dmanagerBG.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 100%;
}

.content {
  position: relative;
  height: calc(100vh - (47.6px + 20px + 180px));
  padding: 5px;
}

.main {
  height: calc(100% - 47.6px - 20px);
  width: calc(100% - 200px);
  position: absolute;
  background: #34495e;
}

.headerButtons {
  width: 39vw;
  text-align: center;
  position: relative;
  top: 40px;
}

.browseModpacks {
  display: block;
  margin: 10px;
  width: 280px;
}

.addVanilla {
  display: inline-block;
  margin: 10px;
}

.addForge {
  display: inline-block;
  margin: 10px;
}