.main {
  margin: 10px;
  .instanceName {
    font-style: oblique;
    width: 100%;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
  }
}

.buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  span {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
  }
}
