.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  padding: 0 30px;
}

@mixin hrText {
  overflow: hidden;
  text-align: center;
  width: 100%;
  font-weight: bold;
  &:before,
  &:after {
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.hrTextGreen {
  @include hrText;
  color: #27ae60;
  &:before,
  &:after {
    background-color: #27ae60;
  }
}

.hrTextRed {
  @include hrText;
  color: #d35400;
  &:before,
  &:after {
    background-color: #d35400;
  }
}

.hrTextYellow {
  @include hrText;
  color: #f39c12;
  &:before,
  &:after {
    background-color: #f39c12;
  }
}

.hdTextBlue {
  @include hrText;
  color: #3498db;
  &:before,
  &:after {
    background-color: #3498db;
  }
}

.subHrList {
  text-align: left;
  li {
    font-size: 18px;
    margin: 15px 0;
  }
}

.summary {
  font-size: 18px;
  color: white;
}

.discordImg {
  width: 200px;
  margin: 30px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
  padding: 3px;
  &:hover {
    background-color: #7289da;
  }
}
