@import '../../../../../style/theme/index';

.main {
  position: absolute;
  -webkit-app-region: no-drag;
  display: inline-block;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: 700;
  font-size: 16px;
  height: 40px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li {
  display: inline;
  cursor: pointer;
  .a {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    color: $link-text-color;
    text-align: center;
    /* padding: 9px 16px 10px 16px; */
    text-decoration: none;
    cursor: pointer;
    svg {
      cursor: pointer;
      path {
        cursor: pointer;
      }
    }
  }
}


.i {
  margin: 0 5px 0 0;
}

.activeLink {
  .a {
    background: var(--primary);
    border-radius: 2px;
    color: $text-hover-color;
    transition: all .25s;
  }
}

/* Change the link color to #111 (black) on hover */

.li:hover:not(.activeLink) .a {
  transition: all .25s;
  background: var(--secondary-color-3);
  border-radius: 4px;
}

.li:hover, .li:active, .li:focus {
  .a {
    text-decoration: none !important;
  }
}
