@import '../../../../../style/theme/index';

.main {
  position: absolute;
  -webkit-app-region: no-drag;
  display: inline-block;
  margin-left: 20px;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: 700;
  height: 40px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li {
  display: inline;
  cursor: pointer;
}

.a {
  position: relative;
  display: inline-block;
  color: $link-text-color;
  text-align: center;
  /* padding: 9px 16px 10px 16px; */
  padding: 9px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.i {
  padding: 0 5px 0 0;
}

.activeLink {
  background: $primary-color;
  border-radius: 4px;
  color: $text-hover-color;
}

/* Change the link color to #111 (black) on hover */

.a:hover:not(.activeLink) {
  transition: all .25s;
  background-color: $secondary-color-3;
  border-radius: 4px;
}

.a:hover, .a:active, .a:focus {
  text-decoration: none !important;
}