@import '../../style/theme/index';

.main {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
  color: $text-main-color;
}

.innerMain {
  margin: 10px 20px;
  width: 100%;
  height: 100%;
}

.icon {
  display: inline-block;
  text-align: center;
  width: 90px;
  height: 90px;
}

.icon__instanceNameContainer {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 130px;
}

.icon__instanceName {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  left: 0;
  margin: 0 5px;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.icon__instancePercentage {
  position: absolute;
  right: 10px;
  color: var(--primary);
}

.icon__playBtn {
  position: absolute;
  width: 90px;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: 1000;
}

.icon__image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: 90px !important;
  transition: opacity 0.1s ease-in-out;
}

.main:hover {
  transition: background-color 0.25s;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.selectedItem {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.icon__iconState {
  position: absolute;
  right: 8px;
}

.playingIcon {
  @extend .icon__iconState;
}

@keyframes downloading {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.downloadingIcon {
  @extend .icon__iconState;
  animation: downloading 0.5s infinite alternate-reverse;
}

.warningIcon {
  @extend .icon__iconState;
  color: #e74c3c;
  font-size: 18px;
  cursor: pointer;
  svg {
    cursor: pointer;
    path {
      cursor: pointer;
    }
  }
}
.progressBarContainer {
  height: 4px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 4px;
  display: flex;
  justify-content: center;
  .progressBar {
    height: 100%;
    width: 80%;
    background-color: var(--secondary-color-3);
  }
  .actualProgress {
    position: absolute;
    height: 100%;
    width: 80%;
    span {
      position: absolute;
      left: 0;
      height: 100%;
      background-color: var(--primary);
      z-index: 10;
    }
  }
}
