.CloseBtn{
    display: inline-block;
    position: absolute;
    background: rgb(44, 62, 80);
    border: 0;
    padding: 0;
    color: white;
    -webkit-app-region: no-drag;
    height: 47.6px;
    width: 47.6px;
    right: 47.6px;
    top: 0;
    transition: background-color .25s;
}

.CloseBtn:hover{
    transition: background-color .25s;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.CloseBtn:focus, .CloseBtn:active{
    border-style: outset;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    border: none;
}