.button{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.content{
  background-color: var(--secondary-color-3);
  max-width: 100%;
  max-height: 75%;
  border-radius: 3px;
  color: white;
  display: flex;
  // padding: 0;
  // margin: 1%;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  flex-direction: column;
  padding: 0.5%;
  margin: 2% 2% 2% 2% ;
}

.player{
  order: 1;
  flex: 1;
  background-color: var(--secondary-color-1);
  max-height: 100px !important;
  min-height: 10% !important;
  min-width: 100%;
  border-radius: 3px;
  padding: 2%;
  margin: 3px;
  text-align: center;
}
