@import '../../style/theme/colors.scss';

.header {
  position: relative;
  top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.modsContainer {
  position: relative;
  top: 10px;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  max-width: 800px;
  .modFooter {
    display: flex;
    justify-content: space-evenly;
    font-style: italic;
    font-size: 14px;
    color: $text-dark;
  }
}