.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action {
}

.mainText {
  font-size: 18px;
}

.description {
  font-size: 14px;
  color: #8b99a7;
  padding-right: 5px;
}