.container {
    margin: 0;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background: #2c3e50;
    -webkit-user-select: none;
}

.settings {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
    right: 210px;
    position: absolute;
    margin-top: 9px;
    transition: all .2s ease-in-out;
    &:hover {
      color: white;
      transition: all .2s ease-in-out;
    }
    path {
      cursor: pointer;
    }
    path:hover {
      color: white;
      transition: all .2s ease-in-out;
    }
  }

.logoText {
    display: inline-block;
    color: #bdc3c7;
    font-family: geometria-light, EB Garamond, Georgia, serif;
}