@import '../../../style/theme/index';


.container {
    margin: 0;
    width: 100%;
    height: 40px;
    background: var(--secondary-color-2);
    -webkit-user-select: none;
}

.settings {
    font-size: 22px;
    color: $text-main-color;
    cursor: pointer;
    right: 210px;
    position: absolute;
    margin-top: 9px;
    transition: all .2s ease-in-out;
    &:hover {
      color: $text-hover-color;
      transition: all .2s ease-in-out;
    }
    path {
      cursor: pointer;
    }
    path:hover {
      color: $text-hover-color;
      transition: all .2s ease-in-out;
    }
  }

.logoText {
    display: inline-block;
    color: #bdc3c7;
    font-family: geometria-light, EB Garamond, Georgia, serif;
}

.updateAvailable {
  position: absolute;
  right: 35px;
  top: 29px;
  z-index: 10;
  text-align: center;
  a {
    text-decoration: none;
    display: block;
  }
}