.container {
    margin: 0;
    width: 100%;
    height: 47.6px;
    padding-left: 10px;
    background: rgb(44, 62, 80);
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.logoText {
    display: inline-block;
    font-size: 23px;
    padding: 7px 0;
    color: #bdc3c7;
    font-family: geometria-light, EB Garamond, Georgia, serif;
}