.container {
    margin: 0;
    width: calc(100% - 200px);
    height: 40px;
    padding-left: 10px;
    background: #2c3e50;
    -webkit-user-select: none;
}

.logoText {
    display: inline-block;
    color: #bdc3c7;
    font-family: geometria-light, EB Garamond, Georgia, serif;
}