@import '../../../style/theme/index';

.container {
  grid-column: 1;
  background: var(--secondary-color-2);
  height: 100%;
  padding-top: 50px;
}

.sideMenuContainer {
  float: right;
  margin-right: 15px;
}

.sideMenu {
  
}