<?xml version="1.0" encoding="utf-8"?>
<!--
Sample license text.
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GDLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GDLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
  <userSettings>
    <GDLauncher.Properties.Settings>
      <setting name="JavaPath" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="RAM" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="download_threads" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="DebugMaxLines" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="RememberUsername" serializeAs="String">
        <value></value>
      </setting>
      <setting name="firstTimeHowTo" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="sessiondata" serializeAs="String">
        <value />
      </setting>
      <setting name="justUpdated" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="eula" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="forgeJSONContentLength" serializeAs="String">
        <value />
      </setting>
      <setting name="clientToken" serializeAs="String">
        <value />
      </setting>
      <setting name="autoHideLauncher" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="premiumAccessToken" serializeAs="String">
        <value></value>
      </setting>
      <setting name="premiumUUID" serializeAs="String">
        <value></value>
      </setting>
      <setting name="premiumUsername" serializeAs="String">
        <value></value>
      </setting>
      <setting name="isLegacy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="windowSize" serializeAs="String">
        <value>600x700</value>
      </setting>
      <setting name="instancesFont" serializeAs="String">
        <value>Roboto Light</value>
      </setting>
    </GDLauncher.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <GDLauncher.Properties.Settings>
      <setting name="version" serializeAs="String">
        <value>3.3</value>
      </setting>
    </GDLauncher.Properties.Settings>
  </applicationSettings>
  <runtime>
  </runtime>
</configuration>
