.content {
  background: linear-gradient( rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)), url("../../assets/images/login_background.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
}

.login_form {
  width: 300px;
  margin: auto;
  padding-top: 26vh;
}

.login_form_button {
  left: 78px;
}