.content {
  background: linear-gradient( rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)), url("../../assets/images/login_background.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
}

.login_form {
  width: 300px;
  margin: auto;
  padding-top: 24vh;
}

.login_form_button {
  left: 78px;
}

.nativeProfilesContainer {
  background: #34495e;
  position: absolute;
  z-index: 10;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  top: 24vh;
  left: 0;
  right: 0;
  width: 350px;
  margin: auto;
  height: 300px;
  transition: transform .3s cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: scale(0);
  transform-origin: 85% 8%;
}