.content {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
}

.login_form {
  width: 300px;
  margin: auto;
  padding-top: 24vh;
}

.login_form_button {
  left: 78px;
}

.fastLoginIcon {
  cursor: pointer;
  animation: fastLoginIconScale .6s infinite both;
}

@keyframes fastLoginIconScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.fastLoginIcon path {
  cursor: pointer;
}