@import '../../../style/theme/index';

.overlay {
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 0;
  z-index: 10000;
}

.modal {
  position: absolute;
  height: 90vh;
  width: 60vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: var(--secondary-color-1);
  border-radius: 2px;
}

.modalContent {
  height: calc(100% - 40px);
}

.header {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background: var(--secondary-color-2);
  border-radius: 4px;
}

.closeBtn {
  float: right;
  position: relative;
  top: 2px;
  right: 10px;
  font-size: 19px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  &:hover {
    color: rgba(231, 76, 60, 0.8);
  }
}
