.socialBtn {
  cursor: pointer;
  margin: 0 5px 5px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  svg {
    cursor: pointer;
    path {
      cursor: pointer;
    }
  }
  &:hover {
    transition: background-color 0.25s;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
}
