@import '../../../style/theme/index';

.sidenav {
  width: 200px;
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: var(--secondary-color-2);
  font-family: 'GlacialIndifferenceRegular';

  .account {
    text-align: center;
    .header {
      display: flex;
      line-height: 40px;
      span:first-child {
        position: relative;
        top: 3px;
        left: 6px;
      }
      span:nth-child(2) {
        margin-left: 10px;
        font-size: 18px;
      }
      .logout {
        position: absolute;
        right: 10px;
        font-size: 21px;
        margin-top: 10px;
        color: $text-main-color;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $text-hover-color;
          transition: all 0.2s ease-in-out;
        }
        path {
          cursor: pointer;
        }
        path:hover {
          color: $text-hover-color;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  .playingServer {
    color: $green;
  }
  .instanceTitle {
    text-align: center;
  }
  .scroller {
    height: calc(100% - 60px - 140px - 25px);
    width: 200px;
    overflow: auto;
    text-align: center;
    .serv {
      position: relative;
      padding: 9px 3px;
      transition: all 0.3s;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      &:hover {
        background: rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
      }
    }
  }
}

.socialsContainer {
  position: absolute;
  display: flex;
  width: 200px;
  bottom: 60px;
  padding-right: 5px;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  .version {
    a {
      color: #7f8c8d;
      padding-right: 9px;
    }
  }
}

.accountDiv {
  transition: all 0.2s;
  border-radius: 7px;
  padding: 10px;
}

.accountDiv:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s;
}
