.sidenav{
  width: 200px;
  clear: none; 
  float: right;
  height: calc(100% - 47.6px - 30px);
  background-color: #34495e;
}

.accountDiv{
  transition: all 0.2s;
  border-radius: 7px;
  padding: 10px;
}

.accountDiv:hover{
  background-color: rgba(255, 255, 255, .2);
  transition: all 0.2s;
}