.sidenav{
  width: 200px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 60px;
  background-color: #2c3e50;
  font-family: 'GlacialIndifferenceRegular';
  .header {
    display: flex;
    line-height: 40px;
    span:first-child {
      position: relative;
      top: 3px;
      left: 6px;
    }
    span:nth-child(2) {
      margin-left: 10px;
      font-size: 18px;
    }
    .logout {
      position: absolute;
      right: 10px;
      font-size: 21px;
      margin-top: 10px;
      color: rgba(255, 255, 255, 0.65);
      cursor: pointer;
      transition: all .2s ease-in-out;
      &:hover {
        color: white;
        transition: all .2s ease-in-out;
      }
      path {
        cursor: pointer;
      }
      path:hover {
        color: white;
        transition: all .2s ease-in-out;
      }
    }
  }
  .scroller {
    height: calc(100% - 60px - 120px);
    width: 200px;
    overflow: auto;
  }
}


.socialsContainer {
  position: absolute;
  display: flex;
  width: 200px;
  bottom: 60px;
  padding-right: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
  .socialBtn {
    cursor: pointer;
    margin: 0 5px 5px;
    &:hover {
      transition: background-color .25s;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }
  }
  .version {
    color: #7f8c8d;
  }
}

.accountDiv{
  transition: all 0.2s;
  border-radius: 7px;
  padding: 10px;
}

.accountDiv:hover{
  background-color: rgba(255, 255, 255, .2);
  transition: all 0.2s;
}