.sidenav{
  width: 200px;
  clear: none; 
  float: right;
  height: calc(100vh - 47.6px - 20px);
  background: black;
  font-family: 'Product Sans';
}

.accountDiv{
  transition: all 0.2s;
  border-radius: 7px;
  padding: 10px;
}

.accountDiv:hover{
  background-color: black;
  transition: all 0.2s;
}