.content {
  color: #fff;
  right: 200px;
  display: block;
  height: calc(100vh - (40px + 20px));
  width: 100%;
  overflow: auto;
  margin: 10px 0;
  .innerContent {
    max-width: 1050px;
    margin: 0 auto;
    width: 95%
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}