.content {
  color: #fff;
  position: relative;
  left: 0;
  right: 0;
  height: calc(100vh - (47.6px + 20px));
  width: calc(100% - 200px);
  overflow: auto;
  .socialsContainer {
    position: relative;
    float: right;
    right: 6px;
    top: 6px;
    .socialBtn {
      cursor: pointer;
      &:hover {
        transition: background-color .25s;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
      }
    }
  }
  .title {
    color: #fff;
    text-align: center;
    font-size: 30px;
    position: relative;
    display: inline;
    top: 3px;
    left: 3px;
  }
  .header__tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    width: 100%;
    height: calc(100vh - (47.6px + 20px + 60px));
    flex-wrap: wrap;
    a {
      display: inline-block;
      padding: 3px;
    }
    h2 {
      margin-top: 25px;
    }
  }
  .subTitle {
    color: #bdc3c7;
    text-align: center;
    font-size: 25px;
  }
}