@import '../../../../../style/theme/index';

.OpenDevTools {
  display: inline-block;
  position: absolute;
  background: var(--secondary-color-3);
  border: 0;
  padding: 0;
  color: $text-main-color;
  -webkit-app-region: no-drag;
  height: 20px;
  width: 35px;
  left: 0;
  top: 0;
  transition: background-color 0.25s;
}

.OpenDevTools,
.OpenDevTools path,
.OpenDevTools svg {
  cursor: pointer;
}

.OpenDevTools:hover {
  transition: background-color 0.25s;
  background-color: rgba(0, 0, 0, 0.3);
}

.OpenDevTools:focus,
.OpenDevTools:active {
  border-style: outset;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  border: none;
}