$primary-color: #27ae60;

$secondary-color-1: #34495e;
$secondary-color-2: #2c3e50;
$secondary-color-3: #212b36;
$secondary-color-light: #4A6075;

$text-main-color: #c2c2c2;
$text-hover-color: #fff;
$text-dark: #8b99a7;

$green: #27ae60;
$teal: #16a085;
$blue: #2980b9;
$violet: #8e44ad;
$madison: #2c3e50;
$yellow: #f39c12;
$orange: #d35400;
$red: #c0392b;
$white: #bdc3c7;
$grey: #7f8c8d;



//Links
$link-text-color: $text-main-color;
$link-text-color-hover: $text-hover-color;
$link-button-bg: $primary-color;

//Badge
$badge-bg-color: #e74c3c;

:export {
  primary: $primary-color;
}