@mixin modItem {
  padding: 0 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    background: var(--secondary-color-3);
    color: white;
    transition: all 0.1s ease-in-out;
  }
}
.listItemOdd {
  @include modItem;
  background: var(--secondary-color-2);
}

.listItemEven {
  @include modItem;
  background: var(--secondary-color-1);
}

.innerItemMod {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noMod {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;
  font-size: 25px;
  div {
    text-align: center;
  }
}

.editIcon {
  font-size: 17px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--primary);
  }
}

.plusIcon {
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--primary);
  }
}

.updateIcon {
  font-size: 17px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: rgba(39, 174, 96, 0.8);
  }
}

.deleteIcon {
  font-size: 17px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: rgba(231, 76, 60, 0.8);
  }
}
