@import '../../../../style/theme/index';

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2% !important;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainText {
  font-size: 18px;
}

.description {
  font-size: 14px;
  color: $text-dark;
  padding: 5px;
}

.iconPointer {
  cursor: pointer !important;
  svg {
    cursor: pointer !important;
    path {
      cursor: pointer !important;
    }
  }
}

.outherContainer{
  margin-bottom: 100px !important;
}