@import '../../../../style/theme/index';


.container {

}

.accountInfo {
  display: grid;
  grid-template-columns: 100px auto;
  background: var(--secondary-color-3);
  height: 120px;
  width: 100%;
  div:first-child {
    align-self: center;
    justify-self: center;
  }
  div:nth-child(2) {
    display: block;
    color: $text-dark;
    margin: 10px;
    *:not(i) {
      display: block;
    }
    .divider {
      height: 10px;
    }
    .info {
      display: inline-block;
      color: $text-main-color;
      -webkit-user-select: text;
      user-select: text;
      cursor: text;
    }
  }
}