.background_image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url("../../assets/images/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100% - 200px);
  height: 100%;
}

.background_overlay{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  display: block;
  background: rgba(44, 62, 80, 0.77);
  width: calc(100% - 200px);
  height: 100%;
}

.main{
  height: calc(100% - 47.6px);
  width: calc(100% - 200px);
  position: relative;
  z-index: 4;
}