.dotContainer{
  height: 40px;
  text-decoration: none;
  cursor: pointer;
}

.dotContainer > .text {
  position: relative;
  text-decoration: none;
  font-size: 1.5vw;
}

.dotContainer > .text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  visibility: hidden;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s 0s;
  transition: all 0.2s 0s;
}

.dotContainer:hover .text:before {
  visibility: visible;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.dotContainer:hover .dot{
  border-radius: 0;
  transition: border-radius .25s;
}
.dot {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    background-color: #bbb;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    transition: border-radius .25s;
  }