.container {
  display: block;
  width: 100%;
  height: 200px;
  background: #4A6075;
  border-radius: 4px;
  flex-grow: 1;
  .header {
    width: 100%;
    border-radius: 4px;
    background: #3498db;
    height: 33px;
    line-height: 33px;
    text-align: center;
  }
  .content {
    padding: 10px;
  }
}

