.switch {
  //right: -60%;
  left: 60%;
  margin-top: 8px;
}

.sliderSwitch {
  margin: 0;
  left: 54%;
  margin-top: 8px;
}

.javaOverrideMemory {
  display: inline;
  background: blue;
}

.mainText {
  margin-left: 2% !important;
}
