.switch {
  //right: -60%;
  // left: 60%;
  position: absolute !important;
  left: 350px !important;
}

.sliderSwitch {
  position: absolute !important;
  left: 350px !important;
}

.mainText {
  margin-top: 8px !important;
  margin-left: 2% !important;
  position: relative;
}
