.mainTextSlider{
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.mainText {
  margin-top: 5px 0;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}