@import '../../../style/theme/colors.scss';

.container {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  .innerContainer {
    height: 100%;
    padding: 0 0 30px 0;
    overflow-y: auto;
    .content {
      display: block;
      margin: 0 auto;
      width: 80%;
    }
  }
}