@import '../../../style/theme/colors.scss';

.javaArginput {
  background: var(--secondary-color-1) !important;
  max-width: 80%;
  margin-right: 15px !important;
  margin-left: 15px !important;
}

// .JavaArgswitch{
//   margin-left: 15px !important;
// }
