
.container{
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color-1);;
  width: 100%;
  height: calc(100vh - 60px);
}

.container div{
  padding: 10px;
  margin: 1%;
}

.serverSettings{
  order: 1;
  flex: 2;
  background-color: var(--secondary-color-3);
}

.Serverlist{
  order: 2;
  flex: 1;
  background-color: brown;
  background-color: var(--secondary-color-3);
  display: flex;
  flex-direction: column;
  
  overflow-y: auto;
}

.Serverlist div{
  margin:2%;
}

.server{
  order: 1;
  flex: 1;
  background-color: var(--secondary-color-1);
  max-height: 40%;
  min-height: 40%;
  border-radius: 3px;
}

.server h1{
  color: black;
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.AddButton{
  order: 2;
  min-height: 30%;
  min-width: 100%;
  margin-top:3%;
  margin-bottom: 5%; 

}

.server Button{
  margin: 2%;
  padding: 3%;
}