.container {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: auto;
  .overlay {
    position: relative;
    overflow: hidden;
    transform: scale(1);
  }
  .overlay:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
  }
}

.description {
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
  background-color: var(--secondary-color-2);
  img {
    max-width: 100%;
    height: auto;
  }
}
