.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(4px);
}

.content {
  width: 70%;
  max-width: 1000px;
}

.description {
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
  font-size: 20px;
  color: #c2c2c2;
  strong,
  span,
  pre {
    font-size: 20px !important;
    color: #c2c2c2 !important;
  }
  pre {
    white-space: pre-wrap;
    overflow-x: hidden;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.closeBtn {
  position: absolute;
  right: 3%;
  top: 2%;
  font-size: 19px;
  z-index: 100;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  &:hover {
    color: rgba(231, 76, 60, 0.8);
  }
}
