.modActions {
  height: 120px;
  background: var(--secondary-color-2);
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: 'center';
  align-items: center;
}

.versionType {
  height: 20px;
  background: var(--secondary-color-2);
  // background: green;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 2px;
  
  h3{
    margin: 0px;
    margin-bottom: 2px;
  }
}

.modDescription {
  margin-right: 20px;
  img {
    max-width: 100%;
    height: auto;
  }
  iframe {
    max-width: 100%;
  }
}

.backBtn {
  transition: all 0.2s ease-in-out;
  position: fixed !important;
  top: 30px;
  margin-left: -30px;
  z-index: 1000000;
  height: 40px !important;
  width: 28px !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: var(--primary);
  }
}
