.modActions {
  height: 120px;
  background: var(--secondary-color-2);
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: 'center';
  align-items: center;
}

.modDescription {
  margin-right: 20px;
  img {
    max-width: 100%;
    height: auto;
  }
  iframe {
    max-width: 100%;
  }
}

.backBtn {
  position: fixed !important;
  top: 40px;
  margin-left: -30px;
  z-index: 1000000;
}