@import '../../../../style/theme/colors.scss';

.modsContainer {
  height: calc(100% - 40px);
  width: 100%;

  .modIconContainer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .overlayContainer {
      background-color: var(--secondary-color-2);
      width: 150px;
      height: 144px;
      margin-left: 20%;
      cursor: pointer;
      .modIcon {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        transition: color 0.2s ease-in-out;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        text-align: center;
        padding: 3px;

        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        hyphens: auto;
        &:hover {
          color: white;
        }
      }
      .modInstalled {
        position: absolute;
        width: 110px;
        margin: 0 20px;
        bottom: 30px;
        text-align: center;
        background: var(--primary);
      }

      .installMod {
        position: absolute;
        width: 100px;
        height: 30px;
        bottom: 30px;
        text-align: center;
        // display: none;
        visibility: hidden;
        opacity: 0;
        z-index: 50;
      }


      .modIcon:hover .installMod {
        // display: block;
        // transition: opacity 0.5s ease-out;
        // -moz-transition: opacity 0.5s ease-out;
        // -webkit-transition: opacity 0.5s ease-out;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.2s ease-in-out;
      }

      @keyframes fadeInOut {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }

  // .installMod {
  //   position: absolute;
  //   width: 100px;
  //   height: 30px;
  //   bottom: 30px;
  //   text-align: center;
  //   display: none;
  // }

  //   .mo:hover + .button, .button:hover {
  //     display: inline-block;
  // }

  .modsNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 21px;
    text-align: center;
    span {
      font-style: italic;
    }
  }

  .modFooter {
    display: flex;
    justify-content: space-evenly;
    font-style: italic;
    font-size: 14px;
    color: $text-dark;
  }
}
