@import '../../../../../style/theme/index';

.CloseBtn{
    display: inline-block;
    position: absolute;
    background: $secondary-color-3;
    border: 0;
    padding: 0;
    color: $text-main-color;
    -webkit-app-region: no-drag;
    height: 20px;
    width: 35px;
    right: 0;
    top: 0;
    transition: background-color .25s;
}

.CloseBtn, .CloseBtn path, .CloseBtn svg {
    cursor: pointer;
  }

.CloseBtn:hover{
    transition: background-color .25s;
    background-color: rgba(231, 76, 60, 0.8);
}
.CloseBtn:focus, .CloseBtn:active{
    border-style: outset;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    border: none;
}