name: GDLauncher Next CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Use Node.js 13.x
        uses: actions/setup-node@v1
        with:
          node-version: 13.x
      - name: yarn install
        run: |
          yarn install
      - name: yarn lint
        run: |
          yarn lint
      - name: yarn release
        run: |
          yarn release

      - uses: actions/upload-artifact@v1
        if: matrix.os == 'macos-latest'
        with:
          name: MacOs Release
          path: release/GDLauncher-mac-setup.dmg

      - uses: actions/upload-artifact@v1
        if: matrix.os == 'windows-latest'
        with:
          name: Windows Release
          path: release/GDLauncher-win-setup.exe

      - uses: actions/upload-artifact@v1
        if: matrix.os == 'ubuntu-latest'
        with:
          name: Linux Release
          path: release/GDLauncher-linux-setup.AppImage

      - uses: actions/setup-ruby@v1
      - name: Send Webhook Notification
        if: matrix.os == 'macos-latest'
        env:
          JOB_STATUS: ${{ job.status }}
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: |
          git clone https://github.com/gorilla-devs/github-actions-discord-webhook.git webhook
          bash webhook/send.sh $JOB_STATUS $WEBHOOK_URL
        shell: bash
