name: GDLauncher Next CI

on:
  push:
    branches:
      - next
  pull_request:
    branches:
      - next
jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Use Node.js 13.9.0
        uses: actions/setup-node@v1
        with:
          node-version: '13.9.0'

      - name: install node tools
        if: matrix.os == 'windows-latest'
      - name: Set node config to use python2.7
        run: npm config set python python2.7
        run: npm install --global --production --vs2015 windows-build-tools@4.0.0
      - name: install node-gyp
        run: npm install --global node-gyp@latest

      - name: yarn install
        run: |
          yarn
      - name: yarn lint
        run: |
          yarn lint
      - name: yarn release
        env:
          CI: ''
          TRAVIS_TAG: ''
          APPVEYOR_REPO_TAG_NAME: ''
          CIRCLE_TAG: ''
          BITRISE_GIT_TAG: ''
          CI_BUILD_TAG: ''
          RELEASE_TESTING: true
        run: |
          yarn release
      - uses: actions/upload-artifact@v1
        if: matrix.os == 'macos-latest'
        with:
          name: MacOs Release
          path: deploy

      - uses: actions/upload-artifact@v1
        if: matrix.os == 'windows-latest'
        with:
          name: Windows Release
          path: deploy

      - uses: actions/upload-artifact@v1
        if: matrix.os == 'ubuntu-latest'
        with:
          name: Linux Release
          path: deploy

      - uses: actions/setup-ruby@v1
      - name: Send Webhook Notification
        if: matrix.os == 'macos-latest'
        env:
          JOB_STATUS: ${{ job.status }}
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: |
          git clone https://github.com/gorilla-devs/github-actions-discord-webhook.git webhook
          bash webhook/send.sh $JOB_STATUS $WEBHOOK_URL
        shell: bash
