name: GDLauncher Next CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Use Node.js 13.x
        uses: actions/setup-node@v1
        with:
          node-version: 13.x
      - name: yarn install
        run: |
          yarn install
      - name: yarn lint
        run: |
          yarn lint
      - name: yarn release
        run: |
          yarn release
      - uses: actions/upload-artifact@v1
        with:
          path: $GITHUB_WORKSPACE/release/*