name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: [ubuntu-latest, windows-latest, macos-latest]

    strategy:
      matrix:
        node-version: [13.7.0]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn
    - run: yarn package
      env:
        CI: true